body{
    background-image: linear-gradient(
            115deg,
            rgb(255, 230, 179, 0.7),
            rgb(255, 212, 128, 0.6)
    ),
    url(img/pic2.jpg);
    background-size: cover;
    }
div {
    font-family: Poppins, "Segoe Ui";
    color: #f3f3f3;
    text-align: center;
}

#title {
    color: rgba(27, 27, 50);
}

#description {
    color: rgba(27, 27, 50);
    position: relative;
    bottom: 5px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

#survey-form {
    position: relative;
    bottom: 20px;
    margin: auto;
    max-width: 600px;
    background: rgba(27, 27, 50, 0.8);
    padding: 25px 0px 20px 0px;
    border-radius: 5px;
}

#name-label, #email-label, #number-label, #opinion, p {
    display: block;
    font-weight: bold;
    position: relative;
    margin: auto auto 25px auto;
    max-width: 520px;
    text-align: left;
}

#number, #name, #email, #dropdown {
    position: relative;
    bottom: 22px;
    padding: 5px 5px 5px 10px;
    width: 90%;
    border-radius: 5px;
}

#radio-buttons {
    display: block;
    position: relative;
    bottom: 23px;
}

#university, #online, #bootcamp, #job, #radio {
    float: left;
    vertical-align: middle;
    margin: 0px;
    position: relative;
    top: 6px;
    right: 5px;
    margin-left: 30px;
}

.p-radio {
    position: relative;
    top: 25px;
}

#checkboxes {
    display: block;
    position: relative;
    bottom: 23px;
}

#checkbox {
    float: left;
    vertical-align: middle;
    margin: 0px;
    position: relative;
    top: 6px;
    right: 3px;
    margin-left: 54px;
}

input[type='checkbox'] {
    position: relative;
    top: 1px;
    right: 3px;
}

#p-checkbox {
    position: relative;
    top: 23px;
}

#text {
    position: relative;
    top: 15px;
    width: 520px;
    height: 120px;
    font-family: "Poppins";
}

#submit {
    cursor: pointer;
    padding: 7px 244px 10px 235px;
    border-radius: 5px;
    border-color: #37af65;
    background: #37af65;
    color: white;
}
